@using Microsoft.AspNetCore.Identity


@*@if (Context.User.Identity.IsAuthenticated)*@
@if (User.FindFirst(x => x.Type == "preferred_username") != null)
{
    <li>
        <a>
            Login as <b class="text-info">@User.FindFirst(x => x.Type == "preferred_username").Value</b>
        </a>
    </li>

    <li><a asp-action="Logout" class="navbar-right text-right" asp-controller="Auth" asp-area=""><b class="text-danger">Logout</b> </a></li>

}